/* Home.css */

.home-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column; /* Stack the sections vertically */
  justify-content: space-between; /* Space the sections between top, middle, and bottom */
  height: 100vh; /* Full height of the viewport */
  padding: 20px; /* Optional: Add some padding */
  text-align: center; /* Center the text */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem; /* Adjust font size */
  color: #000000;
}

/* Style the About Us section */
.about-us {
  font-size: 1.2rem; /* Adjust font size */
  margin: 0 auto; /* Center content horizontally */
}

.about-us h3 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.about-us p {
  font-size: 1rem;
  color: #000000;
  line-height: 1.6; /* Line spacing */
}

/* Style the Locations section */
.locations {
  font-size: 1.2rem;
  margin: 0 auto;
}

.locations h3 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  color: #000000;
}

.locations ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.locations li {
  font-size: 1rem;
  color: #000000;
  padding: 5px 0; /* Add space between list items */
}

.locations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust spacing */
}

